* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: #24273a;
}

.App {
    text-align: center;
}

.row-flex {
    display: flex;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #24273a;
    color: #cad3f5;
    padding: 15px;
    font-size: 20px;
    width: 100%;
    position: relative;
}

.header-text {
    padding: 0px 25px;
    flex-grow: 1;
}

.header-left-text {
    flex-grow: 1;
    text-align: left;
    padding: 0px 25px;
}


.header-subtext-right {
    font-size: 15px;
    text-align: right;
}

/* main content area styling */

.main-content {
    flex: 1;
    background: #223158 url('/public/background.jpg') no-repeat center center; 
    background-size: 100% 100%;
    min-height: 100vh;
}

.sidebar {
  width: 375px;
  overscroll-behavior: contain;
}
