.PlayerDetails {
    margin: 50px;
}
.PlayerDetails * {
    margin-top: 10px;
}
.PlayerDetails h1, p {
	color: white;
	width: 25%;
}
.PlayerDetailRow {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}
