.PlayerDetails {
	background-color: rgba(54, 58, 79, 0.5);
	margin: 20px;
	padding: 20px 40px;
	backdrop-filter: blur(2.5px);
	border: 2px solid #8aadf4;
	border-radius: 7px;
}
.PlayerDetails * {
	margin-top: 10px;
}
.PlayerDetails h1, p {
	color: white;
	width: 25%;
}
.PlayerDetailRow {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}
